
body
{ background-color: 435532;
background-attachment: fixed;  
background-image: url(font.jpg);
background-repeat: repeat-x;
background-position: top left;}
a {text-decoration: none;}

a:link    { color: B7B459; }
a:visited { color: B7B459; }
a:active  { color: B7B459; }
a {text-decoration: none;}


.lapcim
{font-family:Times New Roman, verdana;
font-size:19;
color:B7B459;}

.szoveg
{font-family:Times New Roman, verdana;
text-align:justify;
text-indent: 15;
font-size:15;
color:white;}

.szovegb
{font-family:Times New Roman, verdana;
text-align:justify;
text-indent: 15;
font-weight: bold;
font-size:15;
color:838A7C;}
