a:link {
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
a {
  text-decoration: none;
}

.cim {
  font-family:
    Times New Roman,
    verdana;
  font-size: 29px;
  color: #b7b459;
  font-weight: bold;
}

.halovany {
  font-family:
    Times New Roman,
    verdana;
  font-size: 19px;
  color: #838a7c;
}

.sarok {
  font-family:
    Times New Roman,
    verdana;
  font-size: 14px;
  color: #b7b459;
}

.megn {
  font-family:
    Times New Roman,
    verdana;
  font-size: 11px;
  color: #838a7c;
}

.menu {
  font-family:
    Times New Roman,
    verdana;
  font-size: 17px;
  color: white;
}

.alja {
  font-family:
    Times New Roman,
    verdana;
  font-size: 12px;
  color: #3b4838;
}

