<header>
  <a href="/">
    <div class="cim">Szarvas Pongrác</div>
    <div class="halovany">grafikus, festő, illusztrátor</div>
  </a>
  <div class="contacts">
    <div class="contact">
      <span class="megn">Cím:</span>
      <span class="sarok"> H-6500 Baja, Szüretetlő u. 1.</span>
    </div>
    <div class="contact">
      <span class="megn">Mobil:</span>
      <span class="sarok"> 30-819-2282</span>
    </div>
    <div class="contact">
      <span class="megn">E-mail:</span>
      <span class="sarok">
        <a href="mailto:szpongrac@gmail.com"> szpongrac@gmail.com </a>
      </span>
    </div>
  </div>
</header>
